.gallery_container {
  width: 100%;
  /* overflow: auto; */
  display: table-cell;
  vertical-align: middle;
}

.gallery_column {
    /* height: 6em; */
    float: left;
    width: 21%;

    padding: 1%;
    margin: 0 1%;
    vertical-align: middle;

}

/* Style the images inside the grid */
.gallery_column img {
    opacity: 0.8;
    cursor: pointer;
}

.gallery_column img:hover {
    opacity: 1;
}


@media (max-width:800px) {
  .gallery_column {
    width: 46%;
  }
  .gallery_row {
    overflow: auto;
  }
}
